html {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
}

body {
  min-height: 100%;
  background: url(../images/bg.jpg) no-repeat fixed;
  background-size: 100% 200%;
  color: #fff;
  font-size: 13px;
}

.crm-wrap {
  overflow-x: hidden;
}

.crm-wrap * {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.crm-wrap .area {
  background-color: rgba(255, 255, 255, 0.04);
}

.crm-wrap .area + .area {
  margin-top: 0.26rem;
}

.crm-wrap .row {
  display: box;
  display: -webkit-box;
}

.crm-wrap .row .cell {
  box-flex: 1;
  -webkit-box-flex: 1;
}

.crm-wrap .avatar {
  border-radius: 50%;
}

.crm-wrap .avatar img {
  display: block;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.crm-wrap .btn-wrap {
  padding: 0.4rem 0.3rem;
}

.crm-wrap .base-btn {
  width: 100%;
  padding: 0.3rem 0.36rem;
  font-size: 16px;
  margin: 0.4rem 0;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 0.1rem;
}

.crm-wrap .base-btn:active {
  background: rgba(255, 255, 255, 0.4);
}

.home-page .menu {
  display: box;
  display: -webkit-box;
}

.home-page .menu .item {
  width: 25%;
  height: 2.08rem;
  text-align: center;
  padding-top: 0.24rem;
}

.home-page .menu .item .ico {
  width: 1rem;
  height: 1rem;
  display: block;
  margin: 0 auto 0.2rem;
  padding: 0.21rem;
  border-radius: 50%;
  background-color: #6977ff;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.home-page .menu .item .ico .unread {
  height: 0.64rem;
  width: 0.64rem;
  text-align: center;
  line-height: 0.66rem;
  border-radius: 50%;
  color: #fff;
  background-color: #e75a7f;
  position: absolute;
  z-index: 9;
  right: -0.2rem;
  top: -0.2rem;
  overflow: hidden;
  -webkit-transform: scale3d(0.6666, 0.6666, 0.6666);
  transform: scale3d(0.6666, 0.6666, 0.6666);
}

.home-page .menu .item .ico:active {
  background-color: #5b6af9;
}

.home-page .menu .item .ico:after {
  content: "";
  height: 0.58rem;
  width: 0.58rem;
  display: block;
  background: url(../images/index_menu_ico.png) no-repeat;
  background-size: 100% auto;
}

.home-page .menu .item .ico.b {
  background-color: #4498ff;
}

.home-page .menu .item .ico.b:after {
  background-position: 0 33.333%;
}

.home-page .menu .item .ico.b:active {
  background-color: #3185ee;
}

.home-page .menu .item .ico.c {
  background-color: #15c29b;
}

.home-page .menu .item .ico.c:after {
  background-position: 0 66.666%;
}

.home-page .menu .item .ico.c:active {
  background-color: #0bb58f;
}

.home-page .menu .item .ico.d {
  background-color: #535782;
}

.home-page .menu .item .ico.d:after {
  background-position: 0 100%;
}

.home-page .menu .item .ico.d:active {
  background-color: #61688d;
}

.home-page .area.lineChart {
  padding: 0.2rem 0 0;
}

.home-page .area.lineChart #diffChart {
  height: 2.885rem;
}

.home-page .area.lineChart .info {
  padding: 0 0.3rem;
}

.home-page .area.lineChart .info .comp {
  opacity: .8;
  margin-bottom: .1rem;
}

.home-page .area.lineChart .info .diff {
  font-size: 26px;
}

.home-page .area.lineChart .info .ribbon {
  padding: 0.14rem 0.2rem;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  right: 0;
  top: 0.1rem;
  color: #dfe2fd;
  font-size: 15px;
}

.home-page .area.lineChart .info .ribbon:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin: -0.04rem 0.08rem 0 0;
  height: 0.36rem;
  width: 0.36rem;
  background: url(../images/metal.png) no-repeat;
  background-size: auto 100%;
}

.home-page .area.lineChart .swiper-wrap {
  padding-bottom: 0.5rem;
  min-height: 77px;
}

.home-page .area.lineChart .swiper-wrap .swiper {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 400%;
}

.home-page .area.lineChart .swiper-wrap .dotCon {
  margin-bottom: -10px;
  bottom: 0.25rem;
}

.home-page .area.lineChart .row .cell {
  padding: 0.3rem;
}

.home-page .area.lineChart .row .cell .tt {
  opacity: .6;
  margin-bottom: 0.2rem;
}

.home-page .area.lineChart .row .cell .num {
  font-size: 22px;
}

.home-page .area.lineChart .row .cell + .cell {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.home-page .area.pieChart {
  padding: 0.3rem 0;
}

.home-page .area.pieChart .tt {
  padding: 0 0.22rem 0.22rem;
}

.home-page .area.pieChart .row {
  padding: 0 0.15rem;
}

.home-page .area.pieChart .row .cell {
  width: 50%;
  padding: 0.08rem;
}

.home-page .area.pieChart .row .cell .inner {
  background-color: rgba(255, 255, 255, 0.08);
  height: 1.5rem;
  padding: 0.2rem 0 0 1.5rem;
}

.home-page .area.pieChart .row .cell .inner .t {
  opacity: .8;
  margin-bottom: .1rem;
}

.home-page .area.pieChart .row .cell .inner .num {
  font-size: 24px;
}

.home-page .area.pieChart .row .cell .inner .pie {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0.15rem;
}

.home-page .area.pieChart .row .cell .inner .pie span {
  font-size: 0.34rem;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  line-height: 1.5rem;
  text-align: center;
}

.home-page .area.pieChart .row .cell .inner .pie span b {
  font-weight: normal;
}

.home-page .apprv {
  padding: 0.2rem 0.4rem;
}

.home-page .apprv .tt {
  color: #7de6ff;
  font-size: 15px;
  margin-bottom: 0.1rem;
}

.home-page .apprv .tt:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 0.38rem;
  width: 0.38rem;
  margin: 0 0.1rem 0 0;
  background: url(../images/tip.png) no-repeat;
  background-size: 100% auto;
}

.home-page .apprv .scroller {
  width: 100%;
  height: 44px;
  overflow: hidden;
}

.home-page .apprv .scroller .item {
  height: 44px;
  overflow: hidden;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.home-page .apprv .txt {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #d0d2e2;
}

.mine-page .avatar {
  width: 1.05rem;
  height: 1.05rem;
  position: absolute;
  left: 0.4rem;
  top: 50%;
  margin-top: -0.5rem;
  background-color: rgba(124, 155, 193, 0.2);
  padding: 0.05rem;
}

.mine-page .area.user {
  padding: 0.4rem 0 0.4rem 1.8rem;
}

.mine-page .area.user .base {
  color: #77e1fa;
  font-size: 16px;
  margin-bottom: 0.2rem;
}

.mine-page .area.user .base .sex:before {
  content: "";
  display: inline-block;
  height: 0.32rem;
  width: 0.32rem;
  background: url(../images/sex.png) no-repeat;
  background-size: 100% auto;
  margin-right: 0.05rem;
  vertical-align: middle;
  margin-top: -2px;
}

.mine-page .area.user .base .sex.female {
  color: #f35cb0;
}

.mine-page .area.user .base .sex.female:before {
  background-position: 0 100%;
}

.mine-page .area.user .base .name {
  margin-right: 0.2rem;
}

.mine-page .list .item {
  padding: 0.32rem 0.32rem 0.32rem 0.86rem;
}

.mine-page .list .item.fold {
  padding-right: 0.62rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mine-page .list .item.fold.open {
  white-space: normal;
}

.mine-page .list .item.fold.open:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.mine-page .list .item.fold:after {
  content: "";
  display: block;
  height: 0.32rem;
  width: 0.32rem;
  background: url(../images/fold.png) no-repeat center center;
  background-size: 90% auto;
  position: absolute;
  right: 0.2rem;
  top: 50%;
  margin-top: -0.16rem;
}

.mine-page .list .item + .item {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.mine-page .list .item i {
  display: block;
  height: 0.44rem;
  width: 0.4rem;
  background: url(../images/user_ico.png) no-repeat;
  background-size: 100% auto;
  vertical-align: middle;
  position: absolute;
  left: 0.3rem;
  top: 0.22rem;
}

.mine-page .list .item i.b {
  background-position: 0 33.3333%;
}

.mine-page .list .item i.c {
  background-position: 0 66.6666%;
}

.mine-page .list .item i.d {
  background-position: 0 100%;
}

.mine-page .quitBtn {
  margin: 0.4rem 0;
}

.info-page .mcList .item {
  width: 100%;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.info-page .mcList .item .control {
  position: absolute;
  height: 100%;
  left: 100%;
  top: 0;
  width: 0;
  width: 140px;
  overflow: hidden;
}

.info-page .mcList .item .control .inner {
  width: 100%;
  height: 100%;
  display: table;
}

.info-page .mcList .item .control .inner div {
  width: 64%;
  height: 100%;
  text-align: center;
  display: table-cell;
  background-color: rgba(125, 230, 255, 0.3);
  white-space: nowrap;
  vertical-align: middle;
}

.info-page .mcList .item .control .inner div.del {
  width: 36%;
  background-color: #d30611;
}

.info-page .mcList .area {
  padding: 0.32rem 0.2rem 0.32rem 0.64rem;
  width: 100%;
}

.info-page .mcList .area .row {
  padding: 0.1rem 0;
  line-height: 24px;
}

.info-page .mcList .area .tit {
  color: #7de6ff;
  font-size: 15px;
}

.info-page .mcList .area .tit.read:after {
  display: none;
}

.info-page .mcList .area .tit:after {
  content: "";
  height: 6px;
  width: 6px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: -0.3rem;
  top: 50%;
  margin-top: -3px;
  background-color: #7de6ff;
}

.info-page .mcList .area .time {
  opacity: 0.6;
}

.info-page .mcList .area .detail {
  color: #d0d2e2;
}
