.crm-wrap {
  overflow-x: hidden;

  .full-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;
  }

  .searchIpt {
    padding: 0.09rem 0;

    .icon {
      content: "";
      display: block;
      height: 0.32rem;
      width: 0.32rem;
      margin-top: -0.16rem;
      background: url(../images/search.png) no-repeat;
      background-size: 100% auto;
      position: absolute;
      right: 0.2rem;
      top: 50%;
    }

    input {
      text-align: center;
      height: 0.6rem;
      width: 100%;
      border-radius: 0.3rem;
      line-height: 0.6rem;
      padding: 0 0.3rem;
      @include bgWhiteOpacity(20);
      color: #fff;
      
      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .6);
      }

      &:focus {
        text-align: left;
      }
    }
  }

  i.ico-date {
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ml-ico.png) 0 100% no-repeat;
    background-size: 100% auto;
  }

  .empty-blank {
    width: 100%;
    text-align: center;
    height: 7.5rem;
    display: table;

    .content {
      vertical-align: middle;
      display: table-cell;
    }

    i.wallet, i.box {
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      margin: 0 auto 0.3rem;
      background: url(../images/wallet.png) center center no-repeat;
      background-size: auto 100%;
    }

    i.box {
      background-image: url(../images/box.png);
    }
  }

  .toTop {
    height: 0.8rem;
    width: 0.8rem;
    position: fixed;
    z-index: 999;
    right: 0.24rem;
    bottom: 0.24rem;
    background: url(../images/totop.png) no-repeat;
    background-size: 100% 100%;
  }

  .avatar {
    width: 1.05rem;
    height: 1.05rem;
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.5rem;
    background-color: rgba(124, 155, 193, 0.2);
    padding: 0.05rem;
  }

  * {
    position: relative;
    box-sizing: border-box;
  }

  .area {
    @include bgWhiteOpacity(4);

    & + .area {
      margin-top: 0.26rem;
    }
  }

  .row {
    display: flex;

    .cell {
      flex: 1;
    }
  }

  .avatar {
    border-radius: 50%;

    img {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .btn-wrap {
    padding: 0.4rem 0.3rem;
  }

  .base-btn {
    width: 100%;
    padding: 0.3rem 0.36rem;
    font-size: 16px;
    margin: 0.4rem 0;
    @include bgWhiteOpacity(20);
    color: #fff;
    border-radius: 0.1rem;

    &:active {
      @include bgWhiteOpacity(40);
    }
  }

  .ipt {
    input {
      width: 100%;
      background: none;
      color: #fff;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .6);
      }
    }
  }

  .list {
    .item {
      padding: 0.3rem;
      
      &.fold, &.arr {
        padding-right: 0.62rem;
        @include textEllipsis;

        &.open {
          white-space: normal;

          &:after {
            transform: rotate(180deg);
          }
        }

        &:after {
          content: "";
          display: block;
          height: 0.32rem;
          width: 0.32rem;
          background: url(../images/fold.png) no-repeat center center;
          background-size: 90% auto;
          position: absolute;
          right: 0.2rem;
          top: 50%;
          margin-top: -0.16rem;
        }
      }

      &.arr:after {
        transform: rotate(-90deg);
      }

      & + .item {
        @include opacityBorder(top, 6);
      }
    }
  }

  .base-textarea {
    textarea {
      width: 100%;
      border: none;
      @include bgWhiteOpacity(10);
      padding: 0.2rem;
      color: #fff;

      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .6);
      }
    }
  }

}

.filterList ul {
  font-size: 0;

  & + ul {
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    @include opacityBorder(top, 8);

  }

  li {
    font-size: 13px;
    padding: 0.14rem 0;
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: 1.64%;
    @include opacityBorder(all, 10);

    &.active {
      background-color: #2f577a;
      color: $fcBlue;
      border-color: #4daec5;
    }
  }

  &.col4 li {
    width: 21.7%;
    margin: 1.64%;
  }
}

.mcList {

  .area {
    padding: 0.32rem 0.2rem 0.32rem 0.64rem;
    width: 100%;

    .row {
      padding: 0.1rem 0;
      line-height: 24px;
    }

    .tit {
      color: $fcBlue;
      font-size: 15px;
      
      &.read:after {
        display: none;
      }

      &:after {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: -0.3rem;
        top: 50%;
        margin-top: -3px;
        background-color: $fcBlue;
      }
    }

    .time {
      opacity: 0.6;
    }

    .detail {
      color: #d0d2e2;
      word-break: break-all;
    }

    .state {
      color: #fee47a;
    }
  }
}

.rankList {
  .item {
    @include bgWhiteOpacity(4);
    padding: 0.38rem 0.3rem 0.38rem 1.04rem;

    & + .item {
      @include opacityBorder(top, 6);
    }

    .name {
      @include textEllipsis;
      margin-right: 0.2rem;
    }

    .num {
      position: absolute;
      left: 0.24rem;
      height: 0.6rem;
      width: 0.6rem;
      top: 50%;
      margin-top: -0.3rem;
      border-radius: 50%;
      text-align: center;
      color: $fcBlue;
      line-height: 0.6rem;
      background-color: $bgBlue;

      &:after {
        content: attr(data-num);
      }
    }
  }
}

.rank-page, .task-page, .machine-page {
  .tabs {
    background-color: rgba(196, 198, 207, 0.16);  

    .cell {
      text-align: center;
      height: 0.88rem;
      line-height: 0.88rem;
      transition: color .3s;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        height: 0.04rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.active {
        color: $fcBlue;
        &:after {
          background-color: $fcBlue;
        }
      }
    }
  }
}

.crm-table {
  table {
    width: 100%;
    text-align: center;
    background-color: rgba(78, 78, 124, .3);
    font-size: 13px;

    tr {
      & + tr {
        td {
          @include opacityBorder(top, 4);
        }
      }
    }

    td, th {
      padding: 0.28rem 0.2rem;
    }

    th {
      font-weight: normal;
      background-color: rgba(78, 78, 124, .4);
      & + th {
        @include opacityBorder(left, 7);
      }
    }

    td {
      & + td {
        @include opacityBorder(left, 4);
      }
    }
  }
}

.feedback-page, .work-page {
  .screenShot {
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;
    margin: 0.3rem auto;
    border: 0.06rem solid #8d8fbf;

    img {
      width: 100%;
    }

    & + .btn-wrap {
      padding: 0 0.3rem;
    }
  }

  .shot-add {
    padding: 0.2rem;

    ul {
      display: inline;
    }

    .screenShot, .addBtn {
      border: 2px solid #9da1c1;
      margin: 0.1rem;
      display: inline-block;
      vertical-align: middle;
      width: 1.38rem;
      height: 1.38rem;
    }

    .addBtn {
      &:after, &:before {
        content: "";
        display: block;
        height: 0.06rem;
        width: 0.76rem;
        background-color: #9da1c1;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -0.03rem 0 0 -0.38rem;
      }

      &:before {
        transform: rotate(90deg);
      }
    }
  }

  .pic-gallery {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.2rem 0.2rem;

    .screenShot {
      border: none;
      margin: 0.08rem;
    }
  }
}