@import "./mixin.pre.scss";

html {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
}

body {
  min-height: 100%;
  background: url(../images/bg.jpg) no-repeat fixed;
  background-size: 100% 200%;
  color: #fff;
  font-size: 13px;
}

.ft16 {
  font-size: 16px;
}

.fw-bold {
  font-weight: bold;
}

.fc-blue {
  color: $fcBlue;
}

.fc-txt {
  color: #d0d2e2;
}

.crm-wrap {
  overflow-x: hidden;

  * {
    position: relative;
    box-sizing: border-box;
  }

  .area {
    @include bgWhiteOpacity(4);

    & + .area {
      margin-top: 0.26rem;
    }
  }

  .row {
    display: box;
    display: -webkit-box;

    .cell {
      box-flex: 1;
      -webkit-box-flex: 1;
    }
  }

  .avatar {
    border-radius: 50%;

    img {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
  }

  .btn-wrap {
    padding: 0.4rem 0.3rem;
  }

  .base-btn {
    width: 100%;
    padding: 0.3rem 0.36rem;
    font-size: 16px;
    margin: 0.4rem 0;
    @include bgWhiteOpacity(20);
    color: #fff;
    border-radius: 0.1rem;

    &:active {
      @include bgWhiteOpacity(40);
    }
  }
}

.home-page {
  .menu {
    display: box;
    display: -webkit-box;
    
    .item {
      width: 25%;
      height: 2.08rem;
      text-align: center;
      padding-top: 0.24rem;

      .ico {
        width: 1rem;
        height: 1rem;
        display: block;
        margin: 0 auto 0.2rem;
        padding: 0.21rem;
        border-radius: 50%;
        background-color: #6977ff;
        transition: background-color .3s;

        .unread {
          height: 0.64rem;
          width: 0.64rem;
          text-align: center;
          line-height: 0.66rem;
          border-radius: 50%;
          color: #fff;
          background-color: #e75a7f;
          position: absolute;
          z-index: 9;
          right: -0.2rem;
          top: -0.2rem;
          overflow: hidden;
          transform: scale3d(.6666, .6666, .6666);
        }

        &:active {
          background-color: #5b6af9;
        }

        &:after {
          content: "";
          height: 0.58rem;
          width: 0.58rem;
          display: block;
          background: url(../images/index_menu_ico.png) no-repeat;
          background-size: 100% auto;
        }

        &.b {
          background-color: #4498ff;
          &:after {
            background-position: 0 33.333%;
          }
          &:active {
            background-color: #3185ee;
          }
        }

        &.c {
          background-color: #15c29b;
          &:after {
            background-position: 0 66.666%;
          }
          &:active {
            background-color: #0bb58f;
          }
        }

        &.d {
          background-color: #535782;
          &:after {
            background-position: 0 100%;
          }
          &:active {
            background-color: #61688d;
          }
        }
      }
    }
  }
  .area {

    &.lineChart {
      padding: 0.2rem 0 0;

      #diffChart {
        height: 2.885rem;
      }

      .info {
        padding: 0 0.3rem;

        .comp {
          opacity: .8;
          margin-bottom: .1rem;
        }

        .diff {
          font-size: 26px;
        }

        .ribbon {
          padding: 0.14rem 0.2rem;
          @include bgWhiteOpacity(15);
          position: absolute;
          right: 0;
          top: 0.1rem;
          color: #dfe2fd;
          font-size: 15px;

          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            margin: -0.04rem 0.08rem 0 0;
            height: 0.36rem;
            width: 0.36rem;
            background: url(../images/metal.png) no-repeat;
            background-size: auto 100%;
          }
        }
      }

      .swiper-wrap {
        padding-bottom: 0.5rem;
        min-height: 77px;

        .swiper {
          @include opacityBorder(all, 10);
          width: 400%;
        }

        .dotCon {
          margin-bottom: -10px;
          bottom: 0.25rem;
        }
      }

      .row {

        .cell {
          padding: 0.3rem;

          .tt {
            opacity: .6;
            margin-bottom: 0.2rem;
          }

          .num {
            font-size: 22px;
          }

          & + .cell {
            @include opacityBorder(left, 10);
          }
        }
      }
    }

    &.pieChart {
      padding: 0.3rem 0;

      .tt {
        padding: 0 0.22rem 0.22rem;
      }

      .row {
        padding: 0 0.15rem;
        .cell {
          width: 50%;
          padding: 0.08rem;

          .inner {
            @include bgWhiteOpacity(8);
            height: 1.5rem;
            padding: 0.2rem 0 0 1.5rem;

            .t {
              opacity: .8;
              margin-bottom: .1rem;
            }

            .num {
              font-size: 24px;
            }

            .pie {
              height: 1.5rem;
              width: 1.5rem;
              position: absolute;
              left: 0;
              top: 0;
              padding: 0.15rem;

              span {
                font-size: 0.34rem;
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                line-height: 1.5rem;
                text-align: center;

                b {
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
    }
  }

  .apprv {
    padding: 0.2rem 0.4rem;

    .tt {
      color: $fcBlue;
      font-size: 15px;
      margin-bottom: 0.1rem;

      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 0.38rem;
        width: 0.38rem;
        margin: 0 0.1rem 0 0;
        background: url(../images/tip.png) no-repeat;
        background-size: 100% auto;
      }
    }

    .scroller {
      width: 100%;
      height: 44px;
      overflow: hidden;

      .item {
        height: 44px;
        overflow: hidden;
        transition: height .3s;
      }
    }
    
    .txt {
      width: 100%;
      @include textEllipsis;
      color: #d0d2e2;
    }
  }
}

.mine-page {
  
  .avatar {
    width: 1.05rem;
    height: 1.05rem;
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.5rem;
    background-color: rgba(124, 155, 193, 0.2);
    padding: 0.05rem;
  }

  .area.user {
    padding: 0.4rem 0 0.4rem 1.8rem;

    .base {
      color: #77e1fa;
      font-size: 16px;
      margin-bottom: 0.2rem;

      .sex {
        &:before {
          content: "";
          display: inline-block;
          height: 0.32rem;
          width: 0.32rem;
          background: url(../images/sex.png) no-repeat;
          background-size: 100% auto;
          margin-right: 0.05rem;
          vertical-align: middle;
          margin-top: -2px;
        }

        &.female {
          color: #f35cb0;
          
          &:before {
            background-position: 0 100%;
          }
        }
      }

      .name {
        margin-right: 0.2rem;
        
      }
    }
  }

  .list {
    .item {
      padding: 0.32rem 0.32rem 0.32rem 0.86rem;
      
      &.fold {
        padding-right: 0.62rem;
        @include textEllipsis;

        &.open {
          white-space: normal;

          &:after {
            transform: rotate(180deg);
          }
        }

        &:after {
          content: "";
          display: block;
          height: 0.32rem;
          width: 0.32rem;
          background: url(../images/fold.png) no-repeat center center;
          background-size: 90% auto;
          position: absolute;
          right: 0.2rem;
          top: 50%;
          margin-top: -0.16rem;
        }
      }

      & + .item {
        @include opacityBorder(top, 6);
      }

      i {
        display: block;
        height: 0.44rem;
        width: 0.4rem;
        background: url(../images/user_ico.png) no-repeat;
        background-size: 100% auto;
        vertical-align: middle;
        position: absolute;
        left: 0.3rem;
        top: 0.22rem;

        &.b {
          background-position: 0 33.3333%;
        }

        &.c {
          background-position: 0 66.6666%;
        }

        &.d {
          background-position: 0 100%;
        }
      }
    }
  }

  .quitBtn {
    margin: 0.4rem 0;
  }
}

.info-page {
  .mcList {

    .item {
      width: 100%;
      overflow: hidden;
      margin-bottom: 0.2rem;
      
      .control {
        position: absolute;
        height: 100%;
        left: 100%;
        top: 0;
        width: 0;
        width: 140px;
        overflow: hidden;

        .inner {
          width: 100%;
          height: 100%;
          display: table;
          div {
            width: 64%;
            height: 100%;
            text-align: center;
            display: table-cell;
            background-color: rgba(125, 230, 255, 0.3);
            white-space: nowrap;
            vertical-align: middle;

            &.del {
              width: 36%;
              background-color: #d30611;
            }
          }
        }

      }
    }


    .area {
      padding: 0.32rem 0.2rem 0.32rem 0.64rem;
      width: 100%;

      .row {
        padding: 0.1rem 0;
        line-height: 24px;
      }

      .tit {
        color: $fcBlue;
        font-size: 15px;
        
        &.read:after {
          display: none;
        }

        &:after {
          content: "";
          height: 6px;
          width: 6px;
          border-radius: 50%;
          display: block;
          position: absolute;
          left: -0.3rem;
          top: 50%;
          margin-top: -3px;
          background-color: $fcBlue;
        }
      }

      .time {
        opacity: 0.6;
      }

      .detail {
        color: #d0d2e2;
        word-break: break-all;
      }

      .state {
        color: #fee47a;
      }
    }
  }

  // timeout
  .timeoutPanel, .approvPanel {
    text-align: center;
    padding: 0.2rem 0;
    margin-bottom: 0.2rem;

    .cell {
      i {
        display: block;
        margin: 0 auto 0.2rem;
        height: 0.84rem;
        width: 0.84rem;
        padding: 0.15rem;
        @include bgWhiteOpacity(20);
        border-radius: 50%;
        transition: all .3s;

        &:after {
          content: "";
          display: block;
          height: 0.54rem;
          width: 0.54rem;
          background: url(../images/timeout_ico.png) no-repeat;
          background-size: 200% auto;
          transition: all .3s;
        }

        &.b:after {
          background-position: 0 50%;
        }

        &.c:after {
          background-position: 0 100%;
        }
      }

      &.active {
        i {
          background-color: $bgBlue;

          &:after {
            background-position: 100% 0;
          }

          &.b:after {
            background-position: 100% 50%;
          }

          &.c:after {
            background-position: 100% 100%;
          }
        }

        p {
          color: $fcBlue;
        }
      }
    }
  }
  
  // approval
  .approvPanel {
    .cell {
      i {
        &:after {
          background-image: url(../images/approv_ico.png);
        }
        &.b:after {
          background-position: 0 33.33333%;
        }
        &.c:after {
          background-position: 0 66.66666%;
        }
        &.d:after {
          background-position: 0 100%;
        }
      }

      &.active i {
        &.a:after {
          background-position: 100% 0;
        }
        &.b:after {
          background-position: 100% 33.33333%;
        }
        &.c:after {
          background-position: 100% 66.66666%;
        }
        &.d:after {
          background-position: 100% 100%;
        }
      }
    }
  }

  .infoList {
    > .area {
      padding: 0.3rem 0.3rem 0.3rem 1.74rem;
      
      i {
        display: block;
        height: 1.12rem;
        width: 1.12rem;
        border-radius: 50%;
        position: absolute;
        left: 0.28rem;
        top: 50%;
        margin-top: -0.56rem;
        background: $bgBlue url(../images/info_ico.png) no-repeat;
        background-size: 100% auto;

        &.b {
          background-position: 0 25%;
        }

        &.c {
          background-position: 0 50%;
        }

        &.d {
          background-position: 0 75%;
        }

        &.e {
          background-position: 0 100%;
        }

        .tip {
          height: 0.84rem;
          width: 0.84rem;
          font-size: 0.44rem;
          position: absolute;
          right: -0.3rem;
          top: -0.24rem;
          text-align: center;
          line-height: 0.84rem;
          background-color: #e75a7f;
          border-radius: 50%;
          transform: scale3d(.5, .5, .5);
        }
      }

      .row {
        line-height: 32px;
      }
    }
  }
  
}

.rank-page {
  min-height: 8rem;

  .tabs {
    background-color: rgba(196, 198, 207, 0.16);  

    .cell {
      text-align: center;
      height: 0.88rem;
      line-height: 0.88rem;
      transition: color .3s;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        height: 0.04rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.active {
        color: $fcBlue;
        &:after {
          background-color: $fcBlue;
        }
      }
    }
  }

  .allPanel {
    width: 100%;
    height: 0.98rem;

    .inner {
      padding: 0.1rem 0.2rem;
      width: 100%;
      background-color: rgba(196, 198, 207, 0.16);
      position: fixed;
      z-index: 99;
      left: 0;
      top: 0;

      .searchIpt {
        padding: 0.09rem 0;

        .icon {
          content: "";
          display: block;
          height: 0.32rem;
          width: 0.32rem;
          margin-top: -0.16rem;
          background: url(../images/search.png) no-repeat;
          background-size: 100% auto;
          position: absolute;
          right: 0.2rem;
          top: 50%;
        }

        input {
          text-align: center;
          height: 0.6rem;
          width: 100%;
          border-radius: 0.3rem;
          line-height: 0.6rem;
          padding: 0 0.3rem;
          @include bgWhiteOpacity(20);
          color: #fff;
          
          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .6);
          }

          &:focus {
            text-align: left;
          }
        }
      }
    }
  }


  .fnPanel {
    line-height: 0.78rem;
    height: 0.78rem;
    padding: 0 0.24rem;
    
    .order {
      margin-right: 0.3rem;
    }
    
    .order, .filter {
      opacity: .6;

      &:before {
        content: "";
        display: inline-block;
        height: 0.36rem;
        width: 0.36rem;
        background: url(../images/rank_ico.png) no-repeat;
        background-size: 100% auto;
        vertical-align: middle;
        margin-right: 0.1rem;
      }

      &.active {
        opacity: 1;
      }

    }

    .filter:before {
      background-position: 0 100%;
    }
  }

  .rankList {
    .item {
      @include bgWhiteOpacity(4);
      padding: 0.38rem 0.3rem 0.38rem 1.04rem;

      & + .item {
        @include opacityBorder(top, 6);
      }

      .name {
        @include textEllipsis;
        margin-right: 0.2rem;
      }

      .num {
        position: absolute;
        left: 0.24rem;
        height: 0.6rem;
        width: 0.6rem;
        top: 50%;
        margin-top: -0.3rem;
        border-radius: 50%;
        text-align: center;
        color: $fcBlue;
        line-height: 0.6rem;
        background-color: $bgBlue;

        &:after {
          content: attr(data-num);
        }
      }

      &:nth-child(1),  &:nth-child(2),  &:nth-child(3) {
        .num {
          background: url(../images/top_3.png) no-repeat;
          background-size: 100% auto;

          &:after {
            display: none;
          }
        }
      }

      &:nth-child(2) .num {
        background-position: 0 50%;
      }

      &:nth-child(3) {
        .num {
          background-position: 0 100%;
        }
        margin-bottom: 0.3rem;
      }

      &:nth-child(4) {
        border-top: none;
      }
    }
  }

  .orderFilterGroup {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1.66rem;
    right: 0;
    z-index: 999;
    transition: background-color .3s;
    padding: 0 0.2rem;
    height: 0;
    overflow: hidden;

    &.type2 {
      top: 1.18rem;

      .itemsBox {
        .orderList, .filterList {
          &:after {
            left: auto;
            right: 1.8rem;
            border-bottom-color: #333969;
          }
        }

        .filterList:after {
          right: 0.6rem;
          border-bottom-color: #363569;
        }
      }
    }

    .itemsBox {
      width: 100%;
      background: -webkit-gradient(linear,100% 0%, 0% 100%, from(#373469), to(#25486B));
      border-radius: 0.08rem;
      transition: opacity .3s;
      opacity: 0;
      overflow: hidden;
      height: 0;

      &.show {
        opacity: 1;
        overflow: visible;
        height: auto;
      }

      .orderList {
        padding: 0.1rem 0.3rem;

        .item {
          padding: 0.26rem 0;

          & + .item {
            @include opacityBorder(top, 6);
          }

          &.active {
            color: $fcBlue;

            &:after {
              content: "";
              display: block;
              height: 0.34rem;
              width: 0.34rem;
              position: absolute;
              right: 0.2rem;
              top: 50%;
              margin-top: -0.17rem;
              background: url(../images/yes.png) no-repeat center center;
              background-size: 100% auto;
            }
          }
        }
      }

      .orderList, .filterList {
        &:after {
          content: "";
          display: block;
          height: 0;
          width: 0;
          border: 0.12rem solid transparent;
          border-bottom-color: #26476b;
          position: absolute;
          left: 0.6rem;
          top: -0.19rem;
        }
      }

      .filterList:after {
        left: 1.8rem;
        border-bottom-color: #2E3E6A;
      }

      .filterList {
        padding: 0.3rem 0.2rem 1.16rem 0.2rem;
        border-radius: 0.08rem;

        &.type2 {
          padding: 0.1rem 0.2rem 0.96rem 0.2rem;
        }

        .btnGrp {
          position: absolute;
          left: 0;
          bottom: 0;
          height: 0.86rem;
          line-height: 0.86rem;
          text-align: center;
          width: 100%;
          overflow: hidden;
          border-bottom-right-radius: 0.08rem;
          border-bottom-left-radius: 0.08rem;

          .resetBtn {
            @include bgWhiteOpacity(10);

            &:active {
              @include bgWhiteOpacity(20);
            }
          }

          .okBtn {
            background-color: #4ac8e6;

            &:active {
              background-color: #2faddb;
            }
          }
        }

        .typeGroup {
          padding: 0.08rem 0;

          .tt {
            padding: 0.08rem 0.1rem;
          }

          & + .typeGroup {
            @include opacityBorder(top, 8);
          }
        }

        ul {
          font-size: 0;

          & + ul {
            margin-top: 0.3rem;
            padding-top: 0.3rem;
            @include opacityBorder(top, 8);

          }

          li {
            font-size: 13px;
            padding: 0.14rem 0;
            text-align: center;
            display: inline-block;
            width: 30%;
            margin: 1.64%;
            @include opacityBorder(all, 6);

            &.active {
              background-color: #2f577a;
              color: $fcBlue;
              border-color: #4daec5;
            }
          }

          &.col4 li {
            width: 21.7%;
            margin: 1.64%;
          }
        }
      }
    }

    &.show {
      background-color: rgba(0, 0, 0, .38);
      bottom: 0;
      height: auto;
      overflow: visible;
    }
  }

  .customerList {
    padding: 0.24rem 0.3rem;

    .card {
      @include bgBlueOpacity(26);
      margin-bottom: 0.24rem;

      &.type2 {
        @include bgPurpleOpacity(26);

        .tt {
          @include bgPurpleOpacity(20);
        }
      }

      .tt {
        @include bgBlueOpacity(20);
        padding: 0.24rem;
      }

      .row {
        div {
          padding: 0.24rem;
        }
      }
    }
  }
}