.company-page {
  
  .selectList {
    .selectItem {
      padding: 0.14rem 0.14rem 0.14rem 0.68rem;
      line-height: 1.5;
      margin: 0.1rem 0;

      &:after {
        content: attr(data-order);
        display: block;
        height: 0.42rem;
        width: 0.42rem;
        border-radius: 50%;
        text-align: center;
        line-height: 0.42rem;
        position: absolute;
        left: 0.14rem;
        top: 0.12rem;
        background-color: #eee;
      }

      &.active {
        background-color: #deedff;
        color: #5ba6ff;
        
        &:after {
          background-color: #aad1ff;
          color: #fff;
        }
      }
    }

    &.inline {
      display: flex;

      .selectItem {
        width: 50%;

        &+.selectItem {
          margin-left: 0.3rem;
        }
      }
    }
  }

  .plana {
    border-bottom: 1px solid #ececec;
  	font-size:16px;
  }

  .bianju {
    padding: 0.3rem;
  }

  .searchLabels {
  	padding: 0.3rem;

  	.labelItem + .labelItem {
  	  margin-top: 0.2rem;
  	}
  }

  .findk {
    display:inline-block;
    background-color: #eee;
    // margin: 0.2rem 0 0 0.3rem;
    line-height: 0.5rem;
    padding: 0.1rem 0.2rem;
  }

  i {
    display: inline-block;
    height: 0.5rem;
    width: 0.5rem;
    background: url(../images/hot_ico.png) no-repeat;
    background-size: 100% auto;
    // position: absolute;
    // left: 0.3rem;
    // top: 50%;
  }

  .helperI {
    i {
      height: 0.5rem;
      width: 0.5rem;
      background: url(../images/helper1_ico_light.png) no-repeat;
      background-size: 200% auto;
      vertical-align: middle;
      margin-right:0.1rem;

      &.b {
        background-position: 100% 0;
      }

      &.c {
        background-position: 0 25%;
      }

      &.d {
        background-position: 100% 25%;
      }

      &.e {
        background-position: 0 50%;
      }

      &.f {
        background-position: 100% 50%;
      }

      &.g {
        background-position: 0 75%;
      }

      &.h {
        background-position: 100% 75%;
      }

    }
  }

  .adjust-cell {
    padding-left: 0.2rem;
    line-height: 0.5rem;
  }

  .adjust-row {
    padding: 0.2rem 0;
    & + .adjust-row {
      border-top: 1px solid rgba(119, 225, 250, .1);
    }
  }

  .helperCode {
    padding: 0.2rem 0 0.2rem 0.2rem;
    background-color: #eef6ff;

    i.f {
      background-color: #dfe7f0;
    }
  } 

  .helperTable {
    width: 100%;
    td {
      width: 100px;
      padding: 0.1rem;  
    }
  }
  .round-pd0 {
    padding:0;
  }
  .helperContent {
    .cell {
      color: #bfbfbf;

      i {
        background: url(../images/helpernew_ico_light.png) no-repeat;
        background-size: 800% auto;
  
        &.b1 {
          background-position: 57.142857% 0;
        }
  
        &.b2 {
          background-position: 71.428571% 0;
        }
  
        &.b3 {
          background-position: 85.714286% 0;
        }
  
        &.b4 {
          background-position: 100% 0;
        }
  
        &.b5 {
          background-position: 57.142857% 25%;
        }
  
        &.b6 {
          background-position: 71.428571% 25%;
        }
  
        &.b7 {
          background-position: 85.714286% 25%;
        }
  
        &.b8 {
          background-position: 100% 25%;
        }
  
        &.b9 {
          background-position: 57.142857% 50%;
        }
  
        &.b10 {
          background-position: 71.428571% 50%;
        }
  
        &.b11 {
          background-position: 85.714286% 50%;
        }
  
        &.b12 {
          background-position: 100% 50%;
        }
  
        &.b13 {
          background-position: 57.142857% 75%;
        }
  
        &.b14 {
          background-position: 71.428571% 75%;
        }
  
        &.b15 {
          background-position: 85.714286% 75%;
        }
  
        &.b16 {
          background-position: 100% 75%;
        }
  
        &.b17 {
          background-position: 57.142857% 100%;
        }
      }

      &.active {
        color: #757575;

        i {
          &.b1 {
            background-position: 0 0;
          }
  
          &.b2 {
            background-position: 14.285714% 0;
          }
  
          &.b3 {
            background-position: 28.571429% 0;
          }
  
          &.b4 {
            background-position: 42.857143% 0;
          }
  
          &.b5 {
            background-position: 0 25%;
          }
  
          &.b6 {
            background-position: 14.285714% 25%;
          }
  
          &.b7 {
            background-position: 28.571429% 25%;
          }
  
          &.b8 {
            background-position: 42.857143% 25%;
          }
  
          &.b9 {
            background-position: 0 50%;
          }
  
          &.b10 {
            background-position: 14.285714% 50%;
          }
  
          &.b11 {
            background-position: 28.571429% 50%;
          }
  
          &.b12 {
            background-position: 42.857143% 50%;
          }
  
          &.b13 {
            background-position: 0 75%;
          }
  
          &.b14 {
            background-position: 14.285714% 75%;
          }
  
          &.b15 {
            background-position: 28.571429% 75%;
          }
  
          &.b16 {
            background-position: 42.857143% 75%;
          }
  
          &.b17 {
            background-position: 0 100%;
          }
        }
      }
    }
  }

  .phone {
    i {
      background: url(../images/cus_info_ico_light.png) no-repeat;
      background-size: 100% auto;
      vertical-align:middle;
      // margin-right:0.2rem;

      &.call {
        background-position: 0 100%;
      }
    }
  }
  .goldIco {
    i {
      display: inline-block;
      height: 0.4rem;
      width: 0.4rem;
      background: url(../images/calendar_light.png) no-repeat;
      background-size: 100% auto;
      vertical-align: sub;
    
      &.b {
        background: url(../images/calendar_right_light.png)  center center no-repeat;
        background-size: 150% auto;
      }

      &.c {
        background: url(../images/gold_light.png)  center center no-repeat;
        background-size: 100% auto;
        margin-right:0.1rem;
      }
    }
  }
  .dsj {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #c9c9c9;
    margin-left:0.1rem;
    transition: all .1s;
  }

  .zsj {
    transform: rotate(180deg);
  }


  .helperMathI {
    .cell {
      i {
        background: url(../images/helper-taxMath_light.png) no-repeat;
        background-size: 200% auto;
        width: 0.8rem;
        height: 0.8rem;

        &.b {
          background-position: 0 50%;
        }
        &.c {
          background-position: 0 100%;
        }
      }
    }

   .active {
      i {
        background-position: 100% 0;

        &.b {
          background-position: 100% 50%;
        }
        &.c {
          background-position: 100% 100%;
        }
      }  

      p {
        color: #5ba6ff;
      }
    } 
  }

  .inbk {
    padding: 0.15rem;
    font-size: 5px;
    border-radius: 2px;
    display: inline-block;
    background-color: rgba(255,255,255,.2);
  }

  .active2 {
    background-color:#7CB8FF;
    color: #fff;
  }

  .mathTip {
    padding: 0.4rem 0.32rem;
    opacity: 0.6;
    font-size: 5px;
  }
  
  .mask2 {  
    position: fixed;  
    display: none;
    left: 0px;  
    top: 0px;  
    right: 0px;  
    bottom: 0px;  
    background: rgba(0, 0, 0, 0.4);  
    transition: background-color .3s;
    z-index: 99;
  }   

  .popDiv {
    padding: 0 0.5rem;
    z-index: 99;
    position: fixed;
    top: 2rem;
    width: 100%; 

    .popover {
      width: 100%;
      background: #fff;
      border-radius: 0.08rem;
      transition: opacity .3s;
      opacity: 1;
      overflow: visible;
      height: auto;
      display:none;
      transition: opacity .3s;

      table {
        width: 100%;
      
        td {
          padding: 0.1rem;
          text-align: center;
          width: 100px;

          .llTip {
            background-color: #89ccff;
            color: #fff;
            border-color: #89ccff;
          }
        }
      }
    }

    .year {
      background: #fff;
      border-radius: 0.08rem;
      transition: opacity .3s;
      opacity: 1;
      overflow: visible;
      height: auto;
      display:none;
      transition: opacity .3s;
    }
  }
  .pd200 {
    padding:0 1rem;
  }

  .fc-blue {
  color: $fcBlue;
  }
  .qaq {
    position: absolute;
    display: none;
    left: 1.7rem;
    top: 2.0rem;
    z-index: 120;

    .qrCode {
      background: url(../images/helper_qrCode.png) no-repeat;
      display: inline-block;
      height: 4rem;
      width: 4rem;
      background-size: 100% auto;
    }
  }

  .ico {
    width: 1rem;
    height: 1rem;
    display: block;
    margin: 0 auto 0.2rem;
    padding: 0.21rem;
    border-radius: 50%;
    background-color: #ff6587;
    background-image: -webkit-linear-gradient(135deg, #ff6587, #ff989e);
    transition: background-color .3s;
    &:active {
      background-color: #5b6af9;
    }

    &:after {
      content: "";
      height: 0.58rem;
      width: 0.58rem;
      display: block;
      background: url(../images/index_menu2_ico.png) no-repeat;
      background-size: 200% auto;
    }

    &.b {
      background-color: #5ca6ff;
      background-image: -webkit-linear-gradient(135deg, #5ca6ff, #92dbff);
      &:after {
        background-position: 0 33.333%;
      }
    } 

    &.c {
      background-color: #7b7eff;
      background-image: -webkit-linear-gradient(135deg, #7b7eff, #a0c0fe);
      &:after {
        background-position: 0 66.666%;
      }
    }
    
    &.e {
      background-color: #fcb260;
      background-image: -webkit-linear-gradient(135deg, #fcb260, #fdb25f);
      &:after {
        background-position: 100% 0;
      }
    }
    
    &.f {
      background-color: #ff8a73;
      background-image: -webkit-linear-gradient(135deg, #ff8a73, #ffb2a3);
      &:after {
        background-position: 100% 33.333%;
      }
    }
    
    &.g {
      background-color: #ff9434;
      background-image: -webkit-linear-gradient(135deg, #ff9434, #feb871);
      &:after {
        background-position: 100% 66.666%;
      }
    }
  }

  .addItemInfo {
    color: #5ba6ff;

    &:before {
      content: "";
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      background: url(../images/add_light.png) no-repeat center center;
      background-size: 18px;
      margin: -2px 4px 0 0;
    }
  }

  .btn-flex.subDel {
    padding: 0.2rem;

    .base-btn {
      padding: 0.3rem;
      font-size: 14px;
    }

    .sub {
      flex-grow: 1;
    }

    .del, .edit {
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 20px;
        width: 20px;
        background: url(../images/del_light.png) no-repeat center center;
        background-size: 18px;
        margin: -2px 4px 0 0;
      }
    }

    .edit {
      background-image: none;
      background-color: #5a96e2;
      
      &:active {
        background-image: none;
        background-color: #467ec7;
      }

      &:before {
        background: url(../images/pen.png) no-repeat center center;
        background-size: 18px;
      }
    }
  }
}
