.search-page, .visit-page {
  .filterList {
    padding: 0.1rem 0.3rem 0.2rem;

    .tt {
      padding: 0.14rem;
    }

    li i {
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      background: url(../images/search_ico_light.png) no-repeat 100% 0;
      background-size: 200% auto;
      margin: -2px 5px 0 0;

      &.b {
        background-position: 100% 100%;
      }
    }

    li.active i {
      background-position: 0 0;

      &.b {
        background-position: 0 100%;
      }
    }
  }

  .list .item .label {
    padding-right: 0.2rem;
  }
}

.search-page {
  .switch-content {
    .switch-item,
    .sub-switch-item {
      display: none;
    }
  }

  .app-tooltips {
    position: absolute;
    left: 50%;
    top: 0.8rem;
    transform: translate3d(-50%, 0, 0);
    background: rgba(0, 0, 0, .6);
    padding: 4px 5px;
    border-radius: 2px;
    color: #fff;
    z-index: 9999;
    line-height: 1;
    display: none;

    &:after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      border: 3px solid transparent;
      border-color: transparent transparent rgba(0, 0, 0, .6) transparent;
      position: absolute;
      left: 50%;
      top: -6px;
      margin-left: -1.5px;
    }
  }

  .call-phone {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../images/cus_info_ico_light.png) no-repeat;
    background-size: 100% auto;
    vertical-align: middle;
    background-position: 0 100%;
    margin-top: -2px;
  }

  .typeLabel {
    color: #5ba6ff;
    background-color: #fff;
    padding: 4px 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    max-width: 46px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    border-radius: 2px;
  }

  .create-doc {
    text-align: right;
    color: #ffa452;

    .ico-add {
      height: 22px;
      width: 22px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -2px;
      margin-right: 2px;
      background: url(../images/add1.png) no-repeat center center;
      background-size: 18px auto;
    }
  }

  .preclaimList.customerList .card .tt .btnGrp .cus-btn {
    background-color: #ffd839;
    color: #fff;
  }

  .visitType {
    background-color: #eee;
  }

  .qrcode-ipt {
    padding: 0.3rem 0.8rem 0.3rem 0.3rem;
    position: relative;
    margin-bottom: 0.1rem;

    .iconQrcode {
      height: 0.4rem;
      width: 0.4rem;
      display: block;
      position: absolute;
      right: 0.3rem;
      top: 50%;
      margin-top: -0.2rem;
      background: url(../images/qrcode_light.png) no-repeat;
      background-size: 100% auto;
    }
  }

  .emptyList {
    padding: 0.6rem 0;
    text-align: center;

    .icon {
      height: 1.2rem;
      width: 1.2rem;
      display: block;
      margin: 0 auto;
      background: url(../images/empty-list_light.png) no-repeat center center;
      background-size: auto 0.9rem;
    }
  }
}