.search-page, .visit-page {
  .filterList {
    padding: 0.1rem 0.3rem 0.2rem;

    .tt {
      padding: 0.14rem;
    }

    li i {
      display: inline-block;
      height: 20px;
      width: 20px;
      vertical-align: middle;
      background: url(../images/search_ico_light.png) no-repeat 100% 0;
      background-size: 200% auto;
      margin: -2px 5px 0 0;

      &.b {
        background-position: 100% 100%;
      }
    }

    li.active i {
      background-position: 0 0;

      &.b {
        background-position: 0 100%;
      }
    }
  }

  .list .item .label {
    padding-right: 0.2rem;
  }
}

.search-page {
  .switch-content {
    .switch-item,
    .sub-switch-item {
      display: none;
    }
  }

  .visitType {
    background-color: #eee;
  }

  .qrcode-ipt {
    padding: 0.3rem 0.8rem 0.3rem 0.3rem;
    position: relative;
    margin-bottom: 0.1rem;

    .iconQrcode {
      height: 0.4rem;
      width: 0.4rem;
      display: block;
      position: absolute;
      right: 0.3rem;
      top: 50%;
      margin-top: -0.2rem;
      background: url(../images/qrcode_light.png) no-repeat;
      background-size: 100% auto;
    }
  }

  .emptyList {
    padding: 0.6rem 0;
    text-align: center;

    .icon {
      height: 1.2rem;
      width: 1.2rem;
      display: block;
      margin: 0 auto;
      background: url(../images/empty-list_light.png) no-repeat center center;
      background-size: auto 0.9rem;
    }
  }
}