.visit-page {
  .calendar-day {
    width: 22%;
    margin-right: 0.2rem;

    &:after {
      content: '';
      height: 0.4rem;
      width: 0.4rem;
      background: url(../images/calendar_gray.png) no-repeat center center;
      background-size: 100% auto;
      display: block;
      position: absolute;
      right: 0.08rem;
      top: 50%;
      margin-top: -0.2rem;
    }

    .ipt {
      border: 1px solid #dcdcdc;
      font-size: 12px;
      padding: 0 0.6rem 0 0.1rem;
      transition: opacity .3s;

      input {
        text-align: center;
        height: 0.6rem;
        width: 100%;
        color: #3aa8ff;
      }
    }    
  }

  .buz-status {
    text-align: center;

    h1 {
      font-size: 24px;
      color: #ff9f3b;
      font-weight: normal;
      padding: 0.1rem 0 0.3rem;
    }

    h2 {
      padding-top: 0.4rem;
      font-weight: normal;
    }

    .row {
      border-top: 1px solid #eee;

      .cell {
        padding: 0.24rem;

        & + .cell {
          border-left: 1px solid #eee;
        }
      }
    }
  }

  .label-week {
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: #3aa8ff;
    background-color: #d8eeff;
    font-size: 12px;
  }

  .list {
    .item {
      .lbl {
        color: #888;
      }
    }

    &.ls-member {
      .active {
        background-color: #e2eefa;
        color: #3aa8ff;

        .fc-light {
          color: #3aa8ff;
        }
      }
    }
  }

  .btnGrp {
    .cus-btn {
      padding: 0.1rem 0.22rem;
      color: #3aa8ff;
      border: 1px solid #3aa8ff;
      background-color: #d7edff;
      border-radius: 0.06rem;

      &:active, &.solid {
        color: #fff;
        background-color: #3aa8ff;
      }

      & + .cus-btn {
        margin-left: 0.08rem;
      }

      &.yellow {
        color: #ff9f3b;
        background-color: #fff1e3;
        border-color: #ff9f3b;

        &:active, &.solid {
          color: #fff;
          background-color: #ff9f3b;
        }
      }

      &.disabled {
        color: #fff;
        background-color: #3aa8ff;
      }
    }
  }

  .selectOptions {
    margin-top: 0.2rem;
    display: flex;

    .select-item {
      padding: 0.1rem 0.24rem;
      font-size: 12px;
      border: 1px solid #eee;
      border-radius: 0.06rem;

      &.active {
        color: #fff;
        border-color: #5ba6ff;
        background-color: #5ba6ff;
      }

      & + .select-item {
        margin-left: 0.2rem;
      }
    }
  }

  .fallback-result {
    padding: 0.5rem 0.2rem 0;
    text-align: center;
    line-height: 1.8;

    .result-icon {
      height: 0.8rem;
      width: 0.8rem;
      background: url(../images/success.png) no-repeat;
      background-size: 100%;
      display: block;
      margin: 0 auto;
      margin-bottom: 0.2rem;

      &.fail {
        background-image: url(../images/fail.png);
      }
    }

    h1 {
      font-size: 15px;
    }
  }

  .resultList {
    .card {
      margin: 0.2rem 0;

      .row {
        display: table;
        width: 100%;

        .cell {
          font-size: 12px;
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          padding: 0.2rem 0.4rem;

          .thin {
            color: #bbb;
          }

          .btn {
            background-color: #e5e5e5;
            display: inline-block;
            padding: 0.1rem 0.2rem;
            line-height: 1;
          }
        }
      }
    }
  }

  .list {
    .item.limit {
      overflow: hidden;
      height: 2em;
      box-sizing: content-box;
    }
  }

  .recordUser {
    background-color: #fff;

    .bold {
      font-weight: 700;
    }

    .tt {
      padding: 0.3rem;
      border-bottom: 1px solid #e5e5e5;

      .name {
        font-size: 16px;
        color: #60a4ff;
      }
    }
  }

  .companyTit {
    padding: 0.3rem;
    border-bottom: 1px solid #ececec;
  }

  .lh-5 {
    line-height: .5rem;
  }

  .switch-content  {
    .switch-item {
      display: none;
    }
  }

  .result-list {
    padding: 0.2rem;

    .result-wrap {
      border: 1px solid #e5e5e5;
      border-top: none;

      .result-items {
        background-color: #a7c8fb;
        border: none;

        span {
          color: #fff;
        }
      }
    }
  }

  .labelManage {
    .tt {
      padding-right: 0.1rem;
    }

    .labelList {
      font-size: 14px;

      .itm {
        margin-right: 0.2rem;
        margin-left: 0.1rem;

        .close {
          position: absolute;
          right: -0.2rem;
          top: -0.14rem;
          display: block;
          height: 0.28rem;
          width: 0.28rem;
          text-align: center;
          line-height: 0.28rem;
          border-radius: 100%;
          font-size: 10px;
          background-color: #ddd;
        }
      }
    }

    .add {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      background-color: #ececec;
      margin: 0 0.1rem;

      &:after,
      &:before {
        content: '';
        display: block;
        height: 0;
        width: 12px;
        border-top: 1px solid #aaa;
        position: absolute;
        top: 50%;
        left: 4px;
      }

      &:before {
        transform: rotate(90deg);
      }
    }
  }

   .user-contact {
    padding-left: 0.9rem !important;
    line-height: 2;
    border-top: 1px solid #ececec;

    i.ico-phone {
      position: absolute;
      left: 0.3rem;
      top: 50%;
      margin-top: -10px;
    }
  }

  .detailCnt {
    border: none;
    padding-top: 0.3rem;
  
    .cycle {
      padding: 0.4rem 0.6rem 1.2rem;
  
      &.step2, &.step3, &.step4 {
        .line {
          &:after {
            background-color: #5ba6ff;
          }
  
          .point {
            &:nth-child(1),
            &:nth-child(2) {
              background-color: #5ba6ff;
              color: #5ba6ff;
            }      
          }
        }
      }
  
      &.step3 {
        .line {
          .point {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              background-color: #5ba6ff;
              color: #5ba6ff;
            }
          }
        }
      }
  
      &.step4 {
        .line {
          .point {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              background-color: #5ba6ff;
              color: #5ba6ff;
            }
          }
        }
      }
    }
  }

  .modify {
    padding:.1rem .4rem;
    background:#5ba6ff;
    color: #fff;
    border-radius: 4px;
    margin-left: .2rem;
  }

  .modify-area {
    padding: .2rem;
    color: #c5c4d5;
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    & .tit {
      float: left;
    }

    & .area-wrap {
      float: left;
      padding:.1rem;
      width: 100%;
      border:1px solid #d3d3d3;
      margin-left: .1rem;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      & textarea {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 12px;
        color: #c5c4d5;
        line-height: .4rem;
      }
    }
  }

  .submit-wrap {
    text-align: center;
    padding:.2rem;

    & .submit-btn {
      background:#5ba6ff;
      color: #fff;
      padding:.18rem 1rem;
      border-radius: 4px;
    }
  }

  .cusPhone {
    padding: 0.3rem;
  }

  .records {
    .time {
      opacity: .6;
      font-size: 12px;
    }

    .list .item {
      padding: 0.4rem 0.3rem 0.4rem 1.2rem;
    }
  }

  .card-title {
    background-color: #fff;
    color: #5ba6ff;

    .level {
      font-size: 13px;
    }

    .visit-label {
      color: #5ba6ff;
      font-size: 10px;
      padding: 0.06rem 0.1rem;
      border: 1px solid #5ba6ff;
      margin: 0 0.08rem;
    }
  }

  .area.user {
    padding-left: 1.4rem;

    .avatar {
      left: 0.2rem;
    }

    .info .name {
      padding-bottom: 0.06rem;
    }
  }

  .visit-type-title {
    padding: 0.4rem 0.3rem 0.4rem 1.2rem;
    background-color: #fff;
  }
  
  .userList {
    margin-bottom: 0.3rem;

    .info {
      padding-right: 0.2rem;
    }
  }

  .searchFilter {
    height: 1.24rem;

    &.nofixed {
      height: auto;

      .inner {
        padding: 0;
        position: relative;
        left: auto;
        top: auto;
        background: none;
      }
    }
    
    .inner {
      width: 100%;
      padding: 0.3rem 0.16rem;
      position: fixed;
      left: 0;
      top: 0.88rem;
      background-color: #f0f5f5;
      z-index: 99;

      &.nofixed {
        position: relative;
        top: auto;
        left: auto;
      }
  
      .searchIpt {
        padding: 2px 0;
  
        input {
          text-align: left;
          background-color: #fff;

          &::-webkit-input-placeholder {
            color: #999;
          }
        }
      }
      
      .cancel {
        padding: 2px 0.2rem;
        line-height: 0.6rem;
        display: none;
      }
      
      .calendar {
        line-height: 0.6rem;
        padding: 1px 1px 1px 0.76rem;
        background: url(../images/calendar_light.png) no-repeat 0.16rem center;
        background-size: 0.42rem;
        overflow: hidden;
        width: 4.56rem;
        transition: width .3s linear;
  
        .gap {
          width: 0.3rem;
          text-align: center;
          display: block;
        }
  
        .ipt {
          border: 1px solid #e5e5e5;
          font-size: 12px;
          padding: 0 0.08rem;
          transition: opacity .3s;
  
          input {
            text-align: center;
            width: 1.5rem;
            height: 0.6rem;
          }
        }
  
        &.ellipsis {
          width: 0.76rem;
  
          .ipt {
            opacity: 0;
          }        
        }
      }
    }
  }

  .orderFilterGroup {
    position: fixed;

    .itemsBox .filterList {
      padding: 0.2rem;
    }

    &.show {
      top: 2.12rem;
    }
  }

  .refreshBtn {
    padding: 0 0.3rem 0;
  }

  .preclaimList {
    .card {
      .row {
        display: flex;
        justify-content: space-between;
        padding: 0.24rem;

        div.item {
          padding: 0;
          opacity: .8;
          font-size: 13px;
        }
      }

      .tt {
        display: flex;
        padding: 0 0.24rem;
        height: 0.86rem;
        line-height: 0.86rem;
        border: none;
        background-color: #ebf6ff;
        color: #454545;

        .name {
          font-size: 15px;
        }

        .subname {
          font-size: 12px;
          color: #878787;
          flex-grow: 1;
          padding: 0 5px;
        }

        .phone {
          color: #3aa8ff;
          margin-left: 5px;

          .ico-phone {
            width: 16px;
            height: 16px;
            margin: -2px 0 0 5px;
          }
        }
      }

      .row {
        & + .row {
          border-top: 1px solid #eee;
        }
      }
    }
  }

  .area.assets {
    margin: 0.2rem 0;
  }

  .pre-order-list {
    .row {
      padding: 0.3rem;
      justify-content: space-between;
      align-items: center;

      .item {
        font-size: 12px;
        opacity: 0.8;
      }

      .item.name {
        font-size: 14px;
        opacity: 1;
      }
    }
  }
}