.yunloan-page {
  .banner {
    height: 3.74rem;
    width: 100%;
    background: #fff url(../images/yunloan_banner_light.png) no-repeat;
    background-position: center bottom;
    background-size: 90% auto;
    padding-top: 1.1rem;

    .local {
      background-color: #deedff;
      color: #5ba6ff;
      position: absolute;
      left: 0.2rem;
      top: 0.3rem;
      font-size: 13px;
      padding: 0.1rem 0.3rem 0.1rem 0.6rem;
      border-radius: 0.5rem;
      background-image: url(../images/local_light.png);
      background-repeat: no-repeat;
      background-position: 0.2rem center;
      background-size: 0.28rem auto;
    }

    .result {
      height: 2.2rem;
      width: 4rem;
      margin: 0 auto;
      text-align: center;
      opacity: .9;
      border: 0.1rem solid #d8eaff;
      
      .inner {
        height: 100%;
        padding-top: 0.2rem;
        color: #fff;
        background-image: -webkit-linear-gradient(180deg, #9dc9fb, #5ba6ff);

        .num {
          line-height: 0.84rem;
          font-size: 16px;

          span {
            font-size: 28px;
            margin-right: 0.1rem;
          }
        }
      }
    }
  }

  .filterArea {
    padding: 0.2rem 0.3rem !important;
    align-items: center;

    .fold {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      height: 0.6rem;
      line-height: 0.6rem;
      color: #5ba6ff;
    }
  }

  .ipt {
    padding: 0 0.2rem;
  }

  .customerList {
    padding: 0;
    margin-bottom: 0.1rem;
  }

  .subGrp {
    padding-left: 0.2rem;
    border: 1px solid #ececec;
    border-width: 1px 0;
    display: none;
    background-color: #fff;

    &.show {
      display: block;
    }

    .sublist {
      padding-left: 0.2rem;
      border: 1px solid #ececec;
      border-width: 1px 0;
      font-size: 12px;
    }
  }
  
  .list {
    .grp + .grp {
      margin-top: 0.2rem;
    }

    .item {
      &.active {
        color: $fcBlue;

        &:after {
          content: "";
          display: block;
          height: 0.3rem;
          width: 0.3rem;
          position: absolute;
          right: 0.3rem;
          top: 50%;
          margin-top: -0.15rem;
          background: url(../images/yes_light.png) no-repeat center center;
          background-size: 100% auto;
        }
      }
    }
  }
}