.crm-wrap {
  overflow-x: hidden;

  .full-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    z-index: 9999;

    .clickLayer {
      width: 100%;
      height: 100%;
    }
  }

  .switchRadio {
    width: 0.78rem;
    height: 0.44rem;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -0.22rem;
    background: url(../images/radio_light.png) no-repeat;
    background-size: 100% auto;
    background-position: 0 100%;

    &.checked {
      background-position: 0 0;
    }
  }

  .rangeInput {
    padding: 0.25rem 0;
    margin: 0 0.2rem;

    b {
      display: inline-block;
      vertical-align: middle;
      height: 0.44rem;
      width: 0.44rem;
      border: 1px solid #d2d2d2;
      color: #7f8cab;
      line-height: 0.44rem;
      text-align: center;

      &:after {
        content: "+"
      }

      &.sub:after {
        content: "-"
      }
    }

    .ipt {
      display: inline-block;
      vertical-align: middle;
      height: 0.44rem;
      line-height: 0.44rem;
      border: 1px solid #d2d2d2;
      margin: 0 0.08rem;
      background-color: rgba(255, 255, 255, .1);

      input {
        color: #ffa552;
        width: 2.1rem;
        text-align: center;
      }
    }
  }

  .refresh-ico {
    width: 0.3rem;
    height: 0.3rem;
    display: inline-block;
    vertical-align: middle;
    margin: -0.04rem 0.1rem 0 0;
    background: url(../images/refresh-cio_light.png) no-repeat;
    background-size: 100% auto;
  }

  .searchIpt {
    padding: 0.09rem 0;

    .icon {
      content: "";
      display: block;
      height: 0.32rem;
      width: 0.32rem;
      margin-top: -0.16rem;
      background: url(../images/search_light.png) no-repeat;
      background-size: 100% auto;
      position: absolute;
      right: 0.2rem;
      top: 50%;
    }

    .adjust-l, .adjust-ll {
      left: 0.2rem;
    }

    input {
      text-align: center;
      height: 0.6rem;
      width: 100%;
      border-radius: 0.3rem;
      line-height: 0.6rem;
      padding: 0 0.3rem;
      background-color: rgba(228, 228, 228, .8);
      color: #454545;
      
      &::-webkit-input-placeholder {
        color: rgba(69, 69, 69, .6);
      }

      &:focus {
        text-align: left;
      }
    }

    .adjust-txt {
      text-align:left;
      padding-left:0.7rem;
    }
  }

  i.ico-date {
    height: 22px;
    width: 22px;
    display: inline-block;
    vertical-align: middle;
    background: url(../images/ml-ico_light.png) 0 100% no-repeat;
    background-size: 100% auto;
  }

  i.ico-calendar {
    @extend i.ico-date;
    height: 20px;
    width: 20px;
    background-image: url(../images/calendar_light.png);
  }

  i.ico-edit {
    @extend i.ico-date;
    height: 20px;
    width: 20px;
    background-image: url(../images/edit_light.png);
  }

  i.ico-phone {
    @extend i.ico-date;
    height: 20px;
    width: 20px;
    background-image: url(../images/phone_light.png);
  }

  .empty-blank {
    width: 100%;
    text-align: center;
    height: 7.5rem;
    display: table;

    .content {
      vertical-align: middle;
      display: table-cell;
    }

    i.wallet, i.box {
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      margin: 0 auto 0.3rem;
      background: url(../images/wallet_light.png) center center no-repeat;
      background-size: auto 100%;
    }

    i.box {
      background-image: url(../images/box_light.png);
    }
  }

  .toTop {
    height: 0.8rem;
    width: 0.8rem;
    position: fixed;
    z-index: 999;
    right: 0.24rem;
    bottom: 0.24rem;
    background: url(../images/totop_light.png) no-repeat;
    background-size: 100% 100%;
  }

  .avatar {
    width: 1.05rem;
    height: 1.05rem;
    position: absolute;
    left: 0.4rem;
    top: 50%;
    margin-top: -0.6rem;
    background-color: rgba(124, 155, 193, 0.2);
    padding: 0.05rem;
  }

  .lnkIco {
    display: inline-block;
    vertical-align: middle;
    margin: -0.04rem 0 0 0;
    height: 0.48rem;
    width: 0.48rem;
    background: url(../images/lnk.png) no-repeat;
    background-size: 100% auto;
  }

  .proIco {
    height: 0.4rem;
    width: 0.4rem;
    display: inline-block;
    vertical-align: middle;
    margin: -0.04rem 0.1rem 0 0.1rem;
  }

  .amazeIco {
    height: 0.34rem;
    width: 0.34rem;
    background: url(../images/amaze_light.png) no-repeat;
    background-size: 100% auto;
    display: inline-block;
    vertical-align: middle;
    margin: -0.04rem 0.04rem 0;
  }

  .proIco, .info-page .mayLike .proList .item .ico {
    &:after {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      background: url(../images/prod_light.png) no-repeat;
      background-size: 100% auto;
    }

    &.b:after {
      background-position: 0 33.333%; 
    }

    &.c:after {
      background-position: 0 66.666%; 
    }

    &.d:after {
      background-position: 0 100%; 
    }
  }

  * {
    position: relative;
    box-sizing: border-box;
  }

  .area {
    background-color: #fff;

    & + .area {
      margin-top: 0.26rem;
    }
  }

  .area2 {
    background-color: rgba(255, 255, 255, 0.04);
    opacity:0.9;

    & + .area2 {
      margin-top: 1px;
    }
  }

  .row {
    display: flex;

    .cell {
      flex: 1;
    }
 
    .mid {
      text-align:center;
      opacity:0.9;
    }
  }

  .avatar {
    border-radius: 50%;

    img {
      display: block;
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }

    .tip {
      position: absolute;
      text-align: center;
      width: 120px;
      font-size: 12px;
      left: 50%;
      top: 1.08rem;
      margin-left: -60px;
      transform: scale(.8);
      color: #5ba6ff;
    }
  }

  .btn-wrap {
    padding: 0.4rem 0.3rem;
  }

  .btn-flex {
    display: flex;
    align-items: center;
    padding: 0.2rem 0;

    .base-btn {
      width: auto;

      & + .base-btn {
        margin-left: 0.3rem;
      }
    }
    
    &.center {
      justify-content: center;
    }

    &.right {
      justify-content: flex-end;
    }
  }

  .base-btn {
    width: 100%;
    padding: 0.3rem 0.36rem;
    font-size: 16px;
    margin: 0.4rem 0;
    background-color: #3e7ce3;
    background-image: -webkit-linear-gradient(180deg, #3e7ce3, #66cbf4);
    color: #fff;
    border-radius: 0.1rem;

    &.small {
      font-size: 13px;
      padding: 0.2rem 0.36rem;
      min-width: 1.8rem;
      margin: 0;
    }

    &:active {
      background-color: #66cbf4;
      background-image: -webkit-linear-gradient(180deg, #66cbf4, #3e7ce3);
    }

    &.gray {
      background-color: #e1e1e1;
      border: 1px solid #bfbfbf;
      background-image: none;
      color: #5f5f5f;

      &:active {
        background-color: #bfbfbf;
      }
    }

    &.blue {
      background-color: #8bddff;
      background-image: none;

      &:active {
        background-color: #52b8e2;
      }
    }
  }

  .result-list {
    padding:0.1rem 0.2rem;
    
    .btn-change-wrap {
      width: 100%;
      overflow: hidden;
      padding: .2rem 0;
  
      .btn-change {
        display: inline-block;
        padding-left: .4rem;
        color: #ffa452;
        background: url(../../images/btn_change_light.png) no-repeat 0 2px;
        background-size: 14px 14px;
      }
    }
    .result-wrap {
      &+.result-wrap {
        margin-top: 0.2rem;
      }

      .result-items {
        padding: .3rem;
        background: #fff;
        border-bottom: 1px solid #e5e5e5;
        border-top: 3px solid #c6e6ff;
        line-height: 1;
        
        .company-name {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .statue {
          float: right;
          color: #77e1fa;
        }
      }

      .date {
        padding: .3rem;
        background: #fff;
        border-top: 1px solid #f1fcfe;

        & + .date {
          border-top: 1px solid #eee;
        }
      }
    }
  }

  .search-detail-page {
    .filterList {
      padding: 0;
      
      & + .filterList {
        padding: 0rem 0.3rem 0rem;
      }

      .result-items {
        padding: .3rem;
        background: #fff;
        border-bottom: 1px solid #eeeeee;

        .company-name {
          display: inline-block;
          width: 70%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          font-weight: bold;
          color: #5ba6ff;
        }

        .statue {
          float: right;
          color: #77e1fa;
        }
      }
      
      .date {
        padding: .3rem;
        background: #fff;
      }

      .detail-tit {
        padding: .3rem 0;
        border-bottom: 1px solid #e5e5e5;
        overflow: hidden;
        font-weight: bold;
      }
      .datail-list {
        // padding: .3rem 0;
        .list-item {
          padding: .3rem 0;
          overflow: hidden;
          .item-tit,.item-detail{
            float: left;
          }
          .item-detail{
            float: left;
            .pad {
              padding: .1rem .2rem;
              background:#d6e9ff;
              color: #5ba6ff;
              line-height: 1.5;
              margin-right: .1rem;
              display: inline-block;
              margin-top: .1rem;
            }
          }
        }
      }
    }
  }

  .ipt {
    input {
      width: 100%;
      background: none;
      color: #757575;

      &::-webkit-input-placeholder {
        color: #999;
      }
    }

    &.lenovo-ipt {
      
      input {
        background-color: #eee;

        &:read-only {
          background: none;
        }
      }
    }

    .lenovo {
      position: absolute;
      left: 0;
      top: 22px;
      z-index: 99;
      font-size: 12px;
      display: none;

      &.show {
        display: block;
      }

      li {
        padding: 0.1rem 0.2rem;
        background-color: #fff;

        &.active, &:active {
          background-color: #9dcaff;
          color: #fff;
        }
      }
    }
  }
  

  .list {
    .item {
      padding: 0.3rem;

      &.nopd {
        padding: 0;
      }

      &.lenovo-item {
        padding: 0 0.3rem;
        .label {
          padding: 0.3rem 0;
        }
        .ipt {
          margin: 0.2rem 0.4rem 0.2rem 0.2rem;
          input {
            padding: 0.1rem;
          }
        }
        i {
          display: block;
          margin: 0.3rem 0;
        }
      }
      
      &.fold, &.arr {
        padding-right: 0.62rem;
        @include textEllipsis;

        &.open {
          white-space: normal;

          &:after {
            transform: rotate(180deg);
          }
        }

        &:after {
          content: "";
          display: block;
          height: 0.32rem;
          width: 0.32rem;
          background: url(../images/fold.png) no-repeat center center;
          background-size: 90% auto;
          position: absolute;
          right: 0.2rem;
          top: 50%;
          margin-top: -0.16rem;
        }
      }

      &.arr:after {
        transform: rotate(-90deg);
      }

      & + .item {
        border-top: 1px solid #ececec;
      }
    }
    .pd20 {
      padding:0.2rem 0.3rem;
    }
  }

  .base-textarea {
    textarea {
      width: 100%;
      border: none;
      background-color: #f5f5f5;
      padding: 0.2rem;
      color: #757575;
      font-size: 14px;
      min-height: 6em;

      &::-webkit-input-placeholder {
        color: #999;
        font-size: 13px;
      }
    }
  }

  .fmList {
    background-color: #fff;

    .row {
      background-color: rgba(255, 255, 255, .04);
      padding: 0.28rem;
      line-height: 1.2;

      & + .row {
        border-top: 1px solid #ececec;
      }
    }
  }

  .gridList {
    .tit {
      padding: 0 0.16rem 0.04rem;
    }

    .grp {
      padding-top: 0.1rem;
    }

    .grp + .grp {
      padding-top: 0.2rem;
    }

    .ls {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;

      .lt {
        padding: 0.16rem 0.3rem;
        background-color: #fff;
        margin: 0.16rem;
        min-width: 1.44rem;
        text-align: center;
        border: 1px solid #eee;

      }
    }
  }

}

.filterList ul {
  font-size: 0;

  & + ul {
    margin-top: 0.3rem;
    padding-top: 0.3rem;
    @include opacityBorder(top, 8);

  }

  li {
    font-size: 13px;
    padding: 0.1rem 0.2rem;
    text-align: center;
    display: inline-block;
    // width: 30%;
    margin: 1.64%;
    border: 1px solid #e5e5e5;
    border-radius: 4px;

    &.active {
      background-color: #5ba6ff;
      color: #fff;
      border-color: #5ba6ff;
    }
  }

  &.col4 li {
    width: 21.7%;
    margin: 1.64%;
  }
}

.mcList {

  .area {
    padding: 0.32rem 0.32rem 0.32rem 0.64rem;
    width: 100%;

    .row {
      padding: 0.1rem 0;
      line-height: 24px;
      width: 100%;

      .timeTips {
        opacity:0.7;
        color: #bcbcbc;
       }

    }

    .tit {
      color: $fcBlue;
      font-size: 15px;
      
      &.read:after {
        display: none;
      }

      &:after {
        content: "";
        height: 6px;
        width: 6px;
        border-radius: 50%;
        display: block;
        position: absolute;
        left: -0.3rem;
        top: 50%;
        margin-top: -3px;
        background-color: $fcBlue;
      }
      .remind {
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 0px;
        color: #ff9936;
        margin-left:0.45rem;
      }
    }
    //新增不带圆点的tit
    .tit2 {
      color: $fcBlue;
      font-size: 15px;
      margin-left:0.35rem;
      line-height:0.9rem;

      i {
         display: block;
         height: 0.6rem;
         width: 0.6rem;
         background: url(../images/actives_ico_light.png) no-repeat;
         background-size: 100% auto;
         position: absolute;
         left: -0.7rem;
         top: 50%;
         margin-top: -0.3rem;

         &.b {
           background-position:0 11.111111%;
         }
         
         &.c {
           background-position:0 22.222222%;
         }

         &.d {
           background-position:0 33.333333%;
         }

         &.e {
           background-position:0 55%;
         }
      }
    }

    .time {
      opacity: 0.6;
    }

    .detail {
      color: #757575;
      word-break: break-all;
    }

    .state {
      color: #ff9936;
    }
  }
}

.rankList {
  background-color: #fff;

  .item {
    padding: 0.38rem 0.3rem 0.38rem 1.04rem;

    & + .item {
      border-top: 1px solid #f2f2f2;
    }

    .name {
      @include textEllipsis;
      margin-right: 0.2rem;
    }

    .num {
      position: absolute;
      left: 0.24rem;
      height: 0.6rem;
      width: 0.6rem;
      top: 50%;
      margin-top: -0.3rem;
      border-radius: 50%;
      text-align: center;
      color: $fcBlue;
      line-height: 0.6rem;
      background-color: $bgBlue;

      &:after {
        content: attr(data-num);
      }
    }
  }
}

.rank-page, .task-page, .machine-page, .visit-page, .search-page {
  .tabs {
    background-color: #fff;  

    .cell {
      text-align: center;
      height: 0.88rem;
      line-height: 0.88rem;
      transition: color .3s;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        height: 0.04rem;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &.active {
        color: $fcBlue;
        &:after {
          background-color: $fcBlue;
        }
      }
    }
  }
}

.crm-table {
  table {
    width: 100%;
    text-align: center;
    background-color: #fff;
    font-size: 13px;

    tr {
      & + tr {
        td {
          border-top: 1px solid #f2f2f2;
        }
      }
    }

    td, th {
      padding: 0.28rem 0.2rem;
    }

    th {
      font-weight: normal;
      background-color: #abd6f6;
      color: #fff;
    
      & + th {
        border-left: 1px solid #e3f2fd;
      }
    }

    th {
      & + th {
        border-left: none;
      }
    }
    
    td {
      & + td {
        border-left: 1px solid #f2f2f2;
      }
    }
  }

  &.dir-x {
    td {
      &+td {
        border-left: none;
      }
    }
  }
}

.app-close {
  display: block;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  height: 0.48rem;
  width: 0.48rem;
  background: #e3e3e3 url(../images/close.png) no-repeat center center;
  background-size: 0.2rem;
  border-radius: 50%;
}

.feedback-page, .work-page, .visit-page {
  .screenShot {
    width: 2.2rem;
    height: 2.2rem;
    overflow: hidden;
    margin: 0.3rem auto;
    border: 0.06rem solid #C9E2FF;

    img {
      width: 100%;
    }

    & + .btn-wrap {
      padding: 0 0.3rem;
    }
  }

  .shot-add {
    padding: 0.2rem;

    ul {
      display: inline;
    }

    .screenShot, .addBtn {
      border: 2px solid #bfbfbf;
      margin: 0.1rem;
      display: inline-block;
      vertical-align: middle;
      width: 1.38rem;
      height: 1.38rem;
    }

    .addBtn {
      &:after, &:before {
        content: "";
        display: block;
        height: 0.06rem;
        width: 0.76rem;
        background-color: #bfbfbf;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -0.03rem 0 0 -0.38rem;
      }

      &:before {
        transform: rotate(90deg);
      }
    }

    .close {
      height: 0.4rem;
      width: 0.4rem;
      background: #9dcaff url(../images/close.png) no-repeat center center;
      background-size: 0.16rem auto;
      display: block;
      position: absolute;
      right: -0.1rem;
      top: -0.1rem;
      border-radius: 50%;
    } 

    .inlineBox {
      li {
        display:inline-block;
      }
    }
  }

  .pic-gallery {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.2rem 0.2rem;

    .screenShot {
      border: none;
      margin: 0.08rem;
    }
  }

  .visit-type-ico {
    width: 0.78rem;
    height: 0.78rem;
    padding: 0.13rem;
    background-color: rgba(255, 255, 255, .1);
    display: block;
    position: absolute;
    left: 0.2rem;
    top: 50%;
    margin-top: -0.39rem;
    border-radius: 0.06rem;

    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background: url(../images/visit-ico_light.png) no-repeat;
      background-size: 100% auto;
    }

    &.b:after {
      background-position: 0 100%;
    }
  }
}

.to-visit {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  vertical-align: middle;
  background: url(../images/visit-to_light.png) no-repeat center center;
  background-size: 0.4rem;
  margin-top: -0.04rem;
}

.fixed-btn-grp {
  height: 0.96rem;
  width: 100%;
  .inner {
    width: 100%;
    height: 0.96rem;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    .btn {
      text-align: center;
      height: 0.96rem;
      line-height: 0.96rem;
      width: 50%;
      font-size: 15px;
      background-color: #006cd1;
      background-image: -webkit-linear-gradient(180deg, #29bdf1, #006cd1);
      color: #fff;
      &.hollow {
        background-color: #e5e5e5;
        background-image: none;
        color: #757575;
      }
    }
  }
}

.select-box {
  padding: 0.2rem;
  top: 50%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  transform: translateY(-60%);
  color: #fff;

  .inner {
    background-color: #fff;

    .optItem {
      padding: 0.4rem 0.6rem 0.4rem 1.6rem;

      &.active {
        background-color: #5ba6ff;
        
        .desc {
          .name {
            color: #fff;
          }
          
          .num {
            color: #fff;
          }
        }

        &:after {
          content: "";
          display: block;
          height: 0.3rem;
          width: 0.3rem;
          background: url(../images/yes_white.png) no-repeat center center;
          background-size: 100% auto;
          position: absolute;
          right: 0.3rem;
          top: 50%;
          margin-top: -0.15rem;
        }
      }

      .avatar {
        left: 0.3rem;
        margin-top: -0.5rem;
        background-color: #fff;
      }

      .desc {
        .name {
          font-size: 15px;
          margin-bottom: 0.1rem;
          color: #5ba6ff;

          .cell {
            margin-left: 0.3rem;
          }
        }

        .num {
          font-size: 12px;
          color: #929292;
        }
      }
    }
  }
}

.scrollTextWrap {
  background-color: #eee;
}

.scrollText {
  padding: 0 0.16rem;

  .textInner {
    width: 100%;
    overflow: auto;
  }

  .textScroller {
    width: 100%;
    word-break: keep-all;
    white-space: nowrap;

    span {
      padding: 0.1rem 0.2rem;

      &.active {
        color: #5ba6ff;
      }

      & + span:after {
        content: '';
        width: 0;
        height: 14px;
        border-left: 1px solid #b6b6b6;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -7px;
      }
    }
  }

  .prevArr, .nextArr {
    position: absolute;
    top: 50%;
    margin-top: -0.25rem;
    width: 0.5rem;
    height: 0.5rem;
    right: -0.3rem;
    font-size: 0.46rem;
    line-height: 0.5rem;
    text-align: center;

    &:active {
      color: #5ba6ff;
    }
  }

  .prevArr {
    left: -0.3rem;
  }
}

.crm-scan {
  width: 0.56rem;
  height: 20px;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    height: 0.56rem;
    width: 0.56rem;
    background: url(../images/scan-light.png) no-repeat;
    background-size: 100% auto;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.28rem;
  }
}

.areaSelector {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 300%;
  z-index: 999;
  opacity: 0;
  transition: opacity .3s;

  &.show {
    left: 0;
    opacity: 1;
    .picker {
      animation: fadeInUp .3s both;
    }
  }

  .mask {
    background-color: #000;
    opacity: .5;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .picker {
    position: absolute;
    left: 0;
    width: 100%;
    bottom: 0;
    background-color: #fff;

    .app-close {
      background-color: transparent;
      right: 0.1rem;
      top: 0.14rem;
      background-image: url(../images/close-light.png);
    }

    .title {
      text-align: center;
      line-height: 0.78rem;
    }

    .tabs {
      text-align: center;

      .cell {
        padding: 0.2rem;
        background-color: #e0e0e0;

        &.active {
          color: #5ba6ff;

          &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #5ba6ff;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }
    }
    .optionGroup {
      .optionItem {
        display: none;

        .tit {
          font-size: 12px;
          color: #bbb;
          padding: 0.15rem 0.24rem;
        }

        .listWrapper {
          overflow: auto;
          height: 3.2rem;
          -webkit-overflow-scrolling: touch;

          li {
            padding: 0.15rem 0.24rem;

            &.active {
              color: #5ba6ff;
              background-color: #e4eef9;
            }
          }
        }

        &.active {
          display: block;
        }
      }
    }
  }
}

.rect-tabs {
  padding: 0.2rem;
  text-align: center;

  >.cell {
    padding: 0.2rem;
    background-color: #fff;

    &.active {
      background-color: #5ba6ff;
      color: #fff;
    }
  }
}