html {
  width: 100%;
  height: 100%;
}

button, input {
  border: none;
  outline: none;
  line-height: 1.5;
}

body {
  min-height: 100%;
  background-color: #f0f5f5;
  color: #454f56;
  font-size: 13px;
  line-height: 1.5;
}

body, .crm-wrap {
  height: 100%;
}

.crm-wrap {
  background-size: 1.6rem auto;
}

.ft10 {
  font-size: 10px;
}

.ft12 {
  font-size: 12px;
}

.ft14 {
  font-size: 14px;
}

.ft15 {
  font-size: 15px;
}

.ft16 {
  font-size: 16px;
}

.ft18 {
  font-size: 18px;
}
.ft30 {
  font-size: 30px;
}

.lh18 {
  line-height: 1.8;
}

.lh20 {
  line-height: 2;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fc-blue {
  color: $fcBlue;
}

.fc-light-dark {
  color: #757575;
}

.fc-light {
  color: #999;
}

.fc-yellow {
  color: $yellow;
}

.fc-txt {
  font-size: 13px;
  color: #999;
}

.ta-r {
  text-align: right;
}

.ta-c {
  text-align: center;
}

.round-pd10 {
  padding: 0.1rem;
}

.round-pd20 {
  padding: 0.2rem;
}

.round-pd24 {
  padding:0.24rem;
}

.round-pd30 {
  padding: 0.3rem;
}

.round-pd20-10 {
  padding: 0.2rem 0.1rem;
}

.round-pd20-30 {
  padding: 0.2rem 0.3rem;
}

.round-pd26-30 {
  padding: 0.26rem 0.3rem;
}

.round-pd30-40 {
  padding:0.3rem 0.4rem;
}

.round-pd30-0 {
  padding: 0.3rem 0;
}

.round-pd10-0 {
  padding: 0.1rem 0;
}

.round-pd40 {
  padding: 0.4rem;
  color:#5ba6ff;
  text-align:center;
}

.round-pdb24 {
  padding-bottom:0.24rem;
}

.pl30 {
  padding-left: 0.3rem;
}

.no-pd {
  padding: 0 !important;
}

.round-mg10 {
  margin:0 0.2rem;
  background-color:#eee;
}

.round-mgb20 {
  margin-bottom:0.2rem;
}

.round-mt15 {
  margin-top:0.15rem;
}

.txtMid {
  text-align:center;
}

.opacity21 {
  background-color:rgba(125, 230, 255, .21);
}

.opacity80 {
  opacity: 0.8;
}

.bd1 {
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.hide {
  display: none;
}

.label-grow {
  &:after {
    content: '↑';
    color: #ff4949;
    font-weight: 700;
    margin-left: 0.04rem;
  }
}

.label-reduce {
  &:after {
    content: '↓';
    color: #65b319;
    font-weight: 700;
    margin-left: 0.04rem;
  }
}