.visit-page {
  .resultList {
    .card {
      margin: 0.2rem 0;

      .row {
        display: table;
        width: 100%;

        .cell {
          font-size: 12px;
          display: table-cell;
          width: 50%;
          vertical-align: middle;
          padding: 0.2rem 0.4rem;
          
          .thin {
            color: #c4c6d4;
          }

          .btn {
            @include bgWhiteOpacity(20);
            display: inline-block;
            padding: 0.1rem 0.2rem;
            line-height: 1;
          }
        }
      }
    }
  }

  .list {
    .item.limit {
      overflow: hidden;
      height: 2em;
      box-sizing: content-box;
    }
  }

  .recordUser {
    @include bgBlueOpacity(5);
    
    .tt {
      padding: 0.3rem;
      @include bgBlueOpacity(20);

      .name {
        font-size: 16px;
      }

      .number {
        color: #c5c4d5;
      }
    }
  }

  .companyTit {
    padding: 0.3rem;
    @include bgWhiteOpacity(10);
  }

  .lh-5 {
    line-height: .5rem;
  }

  .switch-content  {
    .switch-item {
      display: none;
    }
  }

  .result-list {
    padding: 0.2rem 0;
  }

  .labelManage {
    .tt {
      padding-right: 0.1rem;
    }

    .labelList {
      font-size: 14px;

      .itm {
        margin-right: 0.2rem;
        margin-left: 0.1rem;

        .close {
          position: absolute;
          right: -0.14rem;
          top: -0.1rem;
          display: block;
          height: 0.28rem;
          width: 0.28rem;
          text-align: center;
          line-height: 0.28rem;
          border-radius: 100%;
          font-size: 10px;
          @include bgWhiteOpacity(40);
        }
      }
    }

    .add {
      display: inline-block;
      vertical-align: middle;
      height: 20px;
      width: 20px;
      @include bgWhiteOpacity(20);
      margin: 0 0.1rem;

      &:after, &:before {
        content: '';
        display: block;
        height: 0;
        width: 12px;
        border-top: 1px solid #748aa8;
        position: absolute;
        top: 50%;
        left: 4px;
      }

      &:before {
        transform: rotate(90deg);
      }
    }
  }

  .user-contact {
    padding-left: 0.9rem !important;
    line-height: 2;
    @include opacityBorder(top, 6);

    i.ico-phone {
      position: absolute;
      left: 0.3rem;
      top: 50%;
      margin-top: -10px;
    }
  }

  .detailCnt {
    border: none;
    padding-top: 0.3rem;
  
    .cycle {
      padding: 0.4rem 0.6rem 1.2rem;
  
      &.step2, &.step3, &.step4 {
        .line {
          &:after {
            background-color: #77e1fa;
          }
  
          .point {
            &:nth-child(1),
            &:nth-child(2) {
              background-color: #77e1fa;
              color: #77e1fa;
            }      
          }
        }
      }
  
      &.step3 {
        .line {
          .point {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3) {
              background-color: #77e1fa;
              color: #77e1fa;
            }
          }
        }
      }
  
      &.step4 {
        .line {
          .point {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              background-color: #77e1fa;
              color: #77e1fa;
            }
          }
        }
      }
    }
  }

  .modify {
    padding:.1rem .4rem;
    background:#5ba6ff;
    color: #fff;
    border-radius: 4px;
    margin-left: .2rem;
  }

  .modify-area {
    padding: .2rem;
    color: #c5c4d5;
    font-size: 13px;
    display: flex;

    & .tit {
      float: left;
    }
    & .area-wrap {
      float: left;
      padding:.1rem;
      width: 80%;
      border:1px solid rgba(255,255,255,.2);
      margin-left: .1rem;
      flex: 1;

      & textarea {
        width: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 12px;
        color: #c5c4d5;
        line-height: .4rem;
      }
    }
  }
  .submit-wrap {
    text-align: center;
    padding:.2rem;

    & .submit-btn {
      background:#5ba6ff;
      color: #fff;
      padding:.18rem 1rem;
      border-radius: 4px;
    }
  }
  .cusPhone {
    padding: 0.3rem;
  }

  .records {
    .time {
      opacity: .6;
      font-size: 12px;
    }

    .list .item {
      padding: 0.4rem 0.3rem 0.4rem 1.2rem;
    }
  }

  .card-title {
    @include bgBlueOpacity(14);

    .level {
      opacity: .6;
      font-size: 13px;
    }

    .visit-label {
      color: #71eef0;
      font-size: 0.12rem;
      padding: 0.06rem 0.1rem;
      border: 1px solid #71eef0;
      margin: 0 0.08rem;
    }
  }

  .area.user {
    padding-left: 1.4rem;

    .avatar {
      left: 0.2rem;
    }

    .info .name {
      padding-bottom: 0.06rem;
    }
  }

  .visit-type-title {
    padding: 0.4rem 0.3rem 0.4rem 1.2rem;
    @include bgWhiteOpacity(10);
  }
  
  .userList {
    margin-bottom: 0.3rem;

    .info {
      padding-right: 0.2rem;
    }
  }

  .searchFilter {
    height: 1.24rem;

    &.nofixed {
      height: auto;

      .inner {
        padding: 0;
        position: relative;
        left: auto;
        top: auto;
        background: none;
      }
    }
    
    .inner {
      width: 100%;
      padding: 0.3rem 0.16rem;
      position: fixed;
      left: 0;
      top: 0.88rem;
      background-color: rgba(10, 24, 75, 0.96);
      z-index: 99;

      &.nofixed {
        position: relative;
        top: auto;
        left: auto;
      }
  
      .searchIpt {
        padding: 2px 0;
  
        input {
          text-align: left;
          &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .3);
          }
        }
      }
      
      .cancel {
        padding: 2px 0.2rem;
        line-height: 0.6rem;
        display: none;
      }
      
      .calendar {
        line-height: 0.6rem;
        padding: 1px 1px 1px 0.76rem;
        background: url(../images/calendar.png) no-repeat 0.16rem center;
        background-size: 0.42rem;
        overflow: hidden;
        width: 4.56rem;
        transition: width .3s linear;
  
        .gap {
          width: 0.3rem;
          text-align: center;
          display: block;
        }
  
        .ipt {
          @include opacityBorder(all, 10);
          font-size: 12px;
          padding: 0 0.08rem;
          transition: opacity .3s;
  
          input {
            text-align: center;
            width: 1.5rem;
            height: 0.6rem;
          }
        }
  
        &.ellipsis {
          width: 0.76rem;
  
          .ipt {
            opacity: 0;
          }        
        }
      }
    }
  }

  .orderFilterGroup {
    position: fixed;

    .itemsBox .filterList {
      padding: 0.2rem;
    }

    &.show {
      top: 2.12rem;
    }
  }

  .refreshBtn {
    padding: 0 0.3rem 0;
  }

  .preclaimList {
    .card {
      .row {
        display: flex;
        justify-content: space-between;
        padding: 0.24rem;

        div.item {
          padding: 0;
          opacity: .8;
          font-size: 13px;
        }
      }

      .tt {
        display: flex;
        padding: 0 0.24rem;
        height: 0.86rem;
        line-height: 0.86rem;

        .name {
          font-size: 15px;
        }

        .subname {
          font-size: 12px;
          color: #c5c4d5;
          flex-grow: 1;
          padding: 0 5px;
        }

        .btnGrp {
          .cus-btn {
            padding: 0.14rem 0.22rem;
            color: #fff;
            background-color: #11b7de;
            border-radius: 0.06rem;

            & + .cus-btn {
              margin-left: 0.08rem;
            }

            &.yellow {
              background-color: #ffd839;
            }

            &.disabled {
              color: #304c7b;
              background-color: #8c96b3;
            }
          }
        }
      }
    }
  }

  .area.assets {
    margin: 0.2rem 0;
  }

  .pre-order-list {
    .row {
      padding: 0.3rem;
      justify-content: space-between;
      align-items: center;

      .item {
        font-size: 12px;
        opacity: 0.8;
      }

      .item.name {
        font-size: 14px;
        opacity: 1;
      }
    }
  }
}